
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, #e91838, #12b3ee);
    /* background: linear-gradient(to top left, #0a0a0a, #540202); */
    /* background-image: url("home.jpg.jpg");
    background-size: cover; */
}

.calculator {
    border: 1px solid #ebecf3;
    padding: 20px;
    border-radius: 27px;
    background: none ;
    box-shadow: 0px 4px 15px rgba(170, 20, 20, 7);
}

input {
    width: 280px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgbs(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #e4e4e3;

}

input::placeholder {
    color: #070400;
}

button {
    /* border: none; */
    border: 1.5px solid rgb(11, 2, 2);
    height: 60px;
    width: 60px;
    padding: 5px;
    margin: 5px;
    border-radius: 35%;
    background: transparent;
    color: #30e214;
    font-size: 20px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equal {
    color: #e1f5e2;
}

.operator {
    color: #dce7e0;
}